.home {
    &__hero {
        padding: 5% 0;
        background: $lightestGray;
        color: $darkGray;

        &__title {
            color: $mainColor;

            &--red {
                color: red;
            }
        }
    }

    &__nosotros {
        padding: 5% 0;
        background: $mainColor;
        color: $white;

        &__image {
            max-width:100%;
        }
    }
}