.home {
    .container {
        padding: 0%;
    }
    &__hero {
        margin-top: 5%;
        padding: 10% 5% 5% 5%;
        background: $lightGray;
        color: $pink;
        &__image {
            width:100%;
        }
    }
    &__nosotros {
        padding: 5%;
        background: $mainColor;
        &__image {
            width:100%;
        }
    }
    &__nosotros2 {
        padding: 5%;
        background: $lightGray;
        &__image {
            width:100%;
        }        
        &__muebles {
            margin-top: 5%;
            border-bottom: 3px solid $mainColor;
            
        }
        &__otrosProductos {
            margin-top: 5%;
        }
    
    }
    &__service {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5%;
        padding: 5% 5% 10% 5%;
        background: $lightGray;
        background: $lightGray;
        color: $pink;
        width: 100%;
        &__image {
            width:100%;
        }
    }
    &__service__list {
        padding: 5%;
        margin-top: 5%;
        background: $mainColor;
        color: $white;
        width:100%;
        height: 100%;
        h2 {
            font-family: $titleFont;
            text-align: center;
            font-weight: 400;
        }
        li {
            font-family: $mainFont;
            text-align: center;
            font-weight: 400;
            line-height: 1.5em;
        }    
    }
    &__service__ebook {
        margin-top: 5%;
        padding-top: 5%;
        height: 100%;
        &__image {
            width: 100%;
            min-width: 100%;
           
            
        }
        }
    &__form {
        margin-top: 5%;
        padding: 5%;
        background: $white;
        color: $black;
        width:100%;
        height: 100%;

    }
    &__form-group {
        padding-bottom: 3%;
        }
    &__form-input {  
        padding-bottom: 0;
    }
    &__form-label {  
        padding-bottom: 0;
    }
    &__form-submit {
            padding-bottom: 0;
    }   
    & input {
        border-bottom: 3px solid $mainColor;
        border-left: none;
        border-top: none;
        border-right: none;
        outline: none;  
        font-size: 1em;
        color:$black; 
    }
    & button {
        background: $mainColor;
        margin: auto;
        color: $white;
        border: none;
        border-radius: 0.5em;
        padding: 3%;
        cursor: pointer;
    }
    p {
        width: 100%;
        font-family: $mainFont;
        font-weight: 400;
        color: $black;
        text-align: justify;
    } 
}
      
            // @include mq(sm) {
            //     max-width:50%;
            // }