.landing {
    background: $mainColor;
    &__hero {
        padding-top: 10%;
        padding-bottom: 10%;
        background: $lightGray;
        &__image {
            width: 100%;
            min-width: 260px;
            margin-bottom: 10%;
        }
    }
    & img {
        max-width:100%;
        vertical-align: top;
    }
    &__form {
        margin:auto;
        padding: 5%;
        background: $mainColor;
        color: $black;
        width:100%;
        min-width: 260px;
        line-height: 1.5em;
    }
    & input {
        display: block;
        width: 100%;
        padding: 2%;
        margin-bottom: 2%;
        background: $white;
        line-height: 1.5em;
        outline: none;  
        font-family: $mainFont;
        font-size: 1em;
        color:$black; 
        border: none;
         :focus {
            border: 1% solid $black;
        }
        
    }
    & label {
        line-height: 1.5em;
        outline: none;  
        font-size: 1em;
        color:$black;
        font-family: $mainFont;
        font-weight: 700; 
        
    }
    &__form-submit {
        background: $black;
        width: 30%;
        margin-left: 60%;
        color: $white;
        font-size: 1em;
        border: none;
        border-radius: 0.5em;
        padding: 3%;
        cursor: pointer;
    }
    &__items {
        margin: 5%;
        padding: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;  
        border: 1px solid $lightGray;  
    }
    &__items__icon{
        padding: 5%;
        margin: 5%;
        text-align: center;
    }
    &__items__text{
        vertical-align: bottom;
        padding: 5%;
        background: $white;
    }
    i {
        font-size: 2.5em;
        color: $white;
        text-align: center;
    }
    p {
        width: 100%;
        font-family: $mainFont;
        font-weight: 400;
        color: $black;
        text-align: justify;
    } 
}
    
            // @include mq(sm) {
            //     max-width:50%;
            // }