header.header
    .container
        .row
            .col-24.col-sm-6
                img.header__logo(src="", alt="")
            .col-24.col-sm-18
                nav.menu
                    a(href='#') Cotinas 
                    a(href='#') Muebles 
                    a(href='#') Otros Productos
