header.header
    .container
                a.header__logo(href="")
                    img(src="", alt="")

                nav.header__nav
                    ul.header__menu
                        li
                            a(href='#') Cotinas 
                        li
                            a(href='#') Muebles 
                        li
                            a(href='#') Otros Productos
