extends _layouts/base

block content
    main.home
        section.home__hero
            .container
                .row
                    .col-24.col-sm-8
                        h1.home__hero__title hola mundo
                        h1.home__hero__title.home__hero__title--red hola mundo 2
                    .col-24.col-sm-8
                        h2.home__hero__subtitle soy oscar
                    .col-24.col-sm-8
        
        section.home__nosotros
            .container
                .row
                    .col-24.col-sm-8
                        h2.home__nosotros__title hola mundo
                    .col-24.col-sm-8
                        p2.home__nosotros__text soy oscar
                    .col-24.col-sm-8
                        img.home__nosotros__image(src='https://picsum.photos/id/123/600/400')