extends _layouts/base

block content
    main.landing
        section.landing__hero
            .container
                .row
                    .col-24.col-sm-16.col-md-18
                         img.landing__hero__image(src='https://picsum.photos/id/123/600/400')
                    .col-24.col-sm-8.col-md-6
                        form.landing__form
                            .landing__form-group
                                input#name.landing__form-input(type='text')
                                label.landing__form-label(for='name') Nombre 
                            .landing__form-group
                                input#phone.landing__form-input(type='text') 
                                label.landing__form-label(for='phone') Telefono 
                            .landing__form-group
                                input#correo.landing__form-input(type='email', placeholder='nombre@correo.com')
                                label.landing__form-label(for='correo') Email
                            .landing__form-group
                                button.landing__form-submit(type='submit') Enviar      

        section.landing__items
            .container
                .row   
                    .col-24.col-sm-8
                        .landing__items__bullet
                            .landing__items__icon
                                i.fa.fa-recycle
                            p.landing__items__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .col-24.col-sm-8
                        .landing__items__bullet
                            .landing__items__icon
                                i.fa.fa-sun-o  
                            p.landing__items__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    .col-24.col-sm-8
                        .landingitems__bullet
                            .landing__items__icon
                                i.fa.fa-snowflake-o 
                            p.landing__items__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
        